.activity-feed {
  background-color: #F6FAFF;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
}

.heading {
  font-size: '0.85rem';
  color: '#B9BDC3'; 
  text-align: end;

}

.bar-container {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
  align-items: flex-end;
}

.day {
  font-size: 0.7rem;
}